<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        
        <directoryBrowse enabled="false" />
        
        <rewrite>
            <rules>
                <rule name="DirectoryIndex" stopProcessing="true">
                    <match url="^(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}index.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/index.html" />
                </rule>
            </rules>
        </rewrite>
        
        <httpHeaders>
            <add name="X-Content-Type-Options" value="nosniff" />
            <add name="X-Frame-Options" value="DENY" />
            <add name="X-XSS-Protection" value="1; mode=block" />
        </httpHeaders>
    </system.webServer>
</configuration>
